In [1]:
import nba_api.stats.endpoints as nba
import nba_api as static
import config
import pandas as pd
import mysql_helper
import mysql.connector

In [2]:
dbname = "nba"
cnx = mysql.connector.connect(
    host = config.host,
    user = config.user,
    passwd = config.password,
    db = dbname)
cursor = cnx.cursor(buffered=True)

In [3]:
stmt = """SELECT GAME_ID from nba.box_score"""
cursor.execute(stmt)

In [4]:
ids = cursor.fetchall()

In [5]:
ids_df = pd.DataFrame(ids)

In [6]:
ids_df.columns = ['game_id']

In [7]:
ids_df.head()
season_ids = {'00217':'22017',
             '00218':'22018',
             '00219':'22019',}
ids_df['SEASON_ID'] = ids_df['game_id'].map(lambda x : season_ids[x[0:5]])

In [8]:
ids_df.head()

      game_id SEASON_ID
0  0021700001     22017
1  0021700001     22017
2  0021700001     22017
3  0021700001     22017
4  0021700001     22017

In [21]:
stmt = """ALTER TABLE nba.box_score
        ADD COLUMN TD INT(1)"""
cursor.execute(stmt)

In [24]:
stmt = """SELECT * FROM nba.box_score"""
cursor.execute(stmt)

In [25]:
box_scores = cursor.fetchall()

In [26]:
field_names = [i[0] for i in cursor.description]
box_scores_df = pd.DataFrame(box_scores, columns=field_names)

In [27]:
box_scores_df.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,BLK,PF,PTS,PLUS_MINUS,pk,TOS,SEASON_ID,DK_PTS,DD,TD
0,None,NaN,None,None,NaN,None,None,None,None,NaN,...,NaN,NaN,NaN,NaN,,NaN,22017,None,None,None
1,0021700001,1.610613e+09,CLE,Cleveland,101112.0,Channing Frye,,DNP - Coach's Decision,None,NaN,...,NaN,NaN,NaN,NaN,0021700001101112,NaN,22017,None,None,None
2,0021700001,1.610613e+09,CLE,Cleveland,101181.0,Jose Calderon,,DNP - Coach's Decision,None,NaN,...,NaN,NaN,NaN,NaN,0021700001101181,NaN,22017,None,None,None
3,0021700001,1.610613e+09,BOS,Boston,1626179.0,Terry Rozier,,,19:32,2.0,...,0.0,0.0,9.0,5.0,00217000011626179,0.0,22017,None,None,None
4,0021700001,1.610613e+09,CLE,Cleveland,1626224.0,Cedi Osman,,DNP - Coach's Decision,None,NaN,...,NaN,NaN,NaN,NaN,00217000011626224,NaN,22017,None,None,None

In [37]:
box_clean = box_scores_df[box_scores_df["MIN"].notnull()]

In [39]:
box_clean.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'PLAYER_ID',
       'PLAYER_NAME', 'START_POSITION', 'COMMENT', 'MIN', 'FGM', 'FGA',
       'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB',
       'DREB', 'REB', 'AST', 'STL', 'BLK', 'PF', 'PTS', 'PLUS_MINUS', 'pk',
       'TOS', 'SEASON_ID', 'DK_PTS', 'DD', 'TD'],
      dtype='object')

In [ ]:
for i in range(0, len(box_clean)):
    doubles = int(box_clean.iloc[i]['PTS'] > 9) + int(box_clean.iloc[i]['AST']> 9) + int(box_clean.iloc[i]['REB'] > 9) + int(box_clean.iloc[i]['STL'] > 9) + int(box_clean.iloc[i]['BLK'] > 9)
    if doubles == 2:
        box_clean.iloc[i]['DD'] = 1
        box_clean.iloc[i]['TD'] = 0
    elif doubles > 2:
        box_clean.iloc[i]['DD'] = 0
        box_clean.iloc[i]['TD'] = 1
    else:
        box_clean.iloc[i]['DD'] = 0
        box_clean.iloc[i]['TD'] = 1

/Users/marshall132/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/marshall132/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/marshall132/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/marshall132/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/marshall132/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/marshall132/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [42]:
box_clean.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,PF,PTS,PLUS_MINUS,pk,TOS,SEASON_ID,DK_PTS,DD,TD,doubles
3,0021700001,1.610613e+09,BOS,Boston,1626179.0,Terry Rozier,,,19:32,2.0,...,0.0,9.0,5.0,00217000011626179,0.0,22017,None,None,None,False
5,0021700001,1.610613e+09,BOS,Boston,1627759.0,Jaylen Brown,G,,39:36,11.0,...,5.0,25.0,-5.0,00217000011627759,3.0,22017,None,None,None,True
7,0021700001,1.610613e+09,BOS,Boston,1628369.0,Jayson Tatum,F,,36:32,5.0,...,4.0,14.0,5.0,00217000011628369,1.0,22017,None,None,None,True
8,0021700001,1.610613e+09,BOS,Boston,1628400.0,Semi Ojeleye,,,8:39,0.0,...,1.0,0.0,-9.0,00217000011628400,0.0,22017,None,None,None,False
10,0021700001,1.610613e+09,BOS,Boston,201143.0,Al Horford,C,,32:07,2.0,...,2.0,9.0,8.0,0021700001201143,0.0,22017,None,None,None,False

In [14]:
ids_df['SEASON_ID'].value_counts()

22017    30980
22018    30808
22019     6029
Name: SEASON_ID, dtype: int64

In [11]:
season_id_tuples = [(x,) for x in ids_df['SEASON_ID'].values]

In [12]:
season_id_tuples

[('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ('22017',),
 ...]

In [15]:
stmt = """UPDATE nba.box_score SET 
    SEASON_ID = SELECT game_logs.SEASON_ID 
    FROM nba.box_score 
    INNER JOIN nba.game_logs ON nba.box_score.GAME_ID = nba.game_logs.GAME_ID
"""
cursor.execute(stmt)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'SELECT game_logs.SEASON_ID
    FROM nba.box_score
    INNER JOIN nba.game_logs' at line 2

In [18]:
stmt="""UPDATE nba.box_score
    SET SEASON_ID = "22019"
    WHERE SUBSTRING(GAME_ID, 1,5) = "00219"
    """
cursor.execute(stmt)
cnx.commit()

In [2]:
career = nba.PlayerCareerStats(player_id='203076')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203076,2012-13,00,1610612740,NOH,20.0,64,60,1846.0,349,...,0.751,165,357,522,63,75,112,89,158,867
1,203076,2013-14,00,1610612740,NOP,21.0,67,66,2358.0,522,...,0.791,207,466,673,105,89,189,109,200,1394
2,203076,2014-15,00,1610612740,NOP,22.0,68,68,2455.0,642,...,0.805,173,523,696,149,100,200,95,141,1656
3,203076,2015-16,00,1610612740,NOP,23.0,61,61,2164.0,560,...,0.758,130,497,627,116,78,125,121,148,1481
4,203076,2016-17,00,1610612740,NOP,24.0,75,75,2708.0,770,...,0.802,172,712,884,157,94,167,181,168,2099
5,203076,2017-18,00,1610612740,NOP,25.0,75,75,2727.0,780,...,0.828,187,644,831,174,115,193,162,159,2110
6,203076,2018-19,00,1610612740,NOP,26.0,56,56,1850.0,530,...,0.794,174,498,672,218,88,135,112,132,1452
7,203076,2019-20,00,1610612747,LAL,26.0,15,15,524.0,132,...,0.878,34,98,132,54,22,45,43,36,383

In [40]:
flatiron = mysql_helper.Connection(config.host, config.user, config.password)

In [41]:
nba_db = mysql_helper.DataBase(flatiron, 'nba')

In [5]:
player_df = nba.CommonAllPlayers().get_data_frames()[0]

In [6]:
player_df.columns

Index(['PERSON_ID', 'DISPLAY_LAST_COMMA_FIRST', 'DISPLAY_FIRST_LAST',
       'ROSTERSTATUS', 'FROM_YEAR', 'TO_YEAR', 'PLAYERCODE', 'TEAM_ID',
       'TEAM_CITY', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'TEAM_CODE',
       'GAMES_PLAYED_FLAG', 'OTHERLEAGUE_EXPERIENCE_CH'],
      dtype='object')

In [7]:
player_df[player_df['DISPLAY_FIRST_LAST']== 'Joel Embiid']['PERSON_ID']

1147    203954
Name: PERSON_ID, dtype: int64

In [8]:
embiid_log =nba.PlayerGameLog(player_id='203954').get_data_frames()[0]

In [9]:
embiid_log.head()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22019,203954,0021900230,"NOV 23, 2019",PHI vs. MIA,W,26,8,15,0.533,...,8,11,2,2,2,2,2,23,28,1
1,22019,203954,0021900218,"NOV 22, 2019",PHI vs. SAS,W,28,9,13,0.692,...,11,14,3,1,1,4,4,21,13,1
2,22019,203954,0021900202,"NOV 20, 2019",PHI vs. NYK,W,34,7,19,0.368,...,10,12,5,0,1,3,3,23,10,1
3,22019,203954,0021900183,"NOV 17, 2019",PHI @ CLE,W,23,6,13,0.462,...,3,4,2,1,1,2,3,14,14,1
4,22019,203954,0021900172,"NOV 15, 2019",PHI @ OKC,L,38,12,24,0.500,...,10,12,2,1,0,1,4,31,-10,1

In [10]:
embiid_log.columns

Index(['SEASON_ID', 'Player_ID', 'Game_ID', 'GAME_DATE', 'MATCHUP', 'WL',
       'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS', 'PLUS_MINUS', 'VIDEO_AVAILABLE'],
      dtype='object')

In [11]:
nba.ScoreboardV2(game_date='11-24-2019').get_data_frames()[0]

,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,GAME_STATUS_ID,GAME_STATUS_TEXT,GAMECODE,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,LIVE_PERIOD,LIVE_PC_TIME,NATL_TV_BROADCASTER_ABBREVIATION,HOME_TV_BROADCASTER_ABBREVIATION,AWAY_TV_BROADCASTER_ABBREVIATION,LIVE_PERIOD_TIME_BCAST,ARENA_NAME,WH_STATUS
0,2019-11-24T00:00:00,1,0021900235,2,Halftime,20191124/DALHOU,1610612745,1610612742,2019,2,,None,ATTSN-SW,FSSW-DAL,Q2 -,Toyota Center,0
1,2019-11-24T00:00:00,2,0021900236,1,6:00 pm ET,20191124/BKNNYK,1610612752,1610612751,2019,0,,None,MSG,YES,Q0 -,Madison Square Garden,0
2,2019-11-24T00:00:00,3,0021900237,1,6:00 pm ET,20191124/SACWAS,1610612764,1610612758,2019,0,,None,NBCSWA,NBCSCA,Q0 -,Capital One Arena,0
3,2019-11-24T00:00:00,4,0021900238,1,8:00 pm ET,20191124/PHXDEN,1610612743,1610612756,2019,0,,None,ALT,FSA,Q0 -,Pepsi Center,0
4,2019-11-24T00:00:00,5,0021900239,1,9:00 pm ET,20191124/NOPLAC,1610612746,1610612740,2019,0,,None,FSPT,FSNO,Q0 -,Staples Center,0

In [12]:
game_logs = nba.LeagueGameLog(season='2019-20').get_data_frames()[0]

In [13]:
game_logs.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22019,1610612747,LAL,Los Angeles Lakers,0021900002,2019-10-22,LAL @ LAC,L,240,37,...,32,41,20,4,7,15,24,102,-10,1
1,22019,1610612746,LAC,LA Clippers,0021900002,2019-10-22,LAC vs. LAL,W,240,42,...,34,45,24,8,5,14,25,112,10,1
2,22019,1610612740,NOP,New Orleans Pelicans,0021900001,2019-10-22,NOP @ TOR,L,265,43,...,37,53,30,4,9,19,34,122,-8,1
3,22019,1610612761,TOR,Toronto Raptors,0021900001,2019-10-22,TOR vs. NOP,W,265,42,...,41,57,23,7,3,17,24,130,8,1
4,22019,1610612738,BOS,Boston Celtics,0021900008,2019-10-23,BOS @ PHI,L,240,33,...,31,41,18,4,2,11,29,93,-14,1

In [14]:
def get_game_logs(year):
    next_ = str(int(year)+1)[-2]
    df = nba.LeagueGameLog(season=year + '-' + next_).get_data_frames()[0]
    return df

In [15]:
seasons = ['2017', '2018', '2019']
dfs = []
for season in seasons:
    dfs.append(get_game_logs(season))
total_logs = pd.concat(dfs)

In [16]:
total_logs.tail()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
465,22019,1610612763,MEM,Memphis Grizzlies,0021900232,2019-11-23,MEM vs. LAL,L,240,43,...,35,47,28,12,3,22,19,108,-1,1
466,22019,1610612756,PHX,Phoenix Suns,0021900225,2019-11-23,PHX @ MIN,W,240,33,...,44,56,22,9,3,7,17,100,2,1
467,22019,1610612750,MIN,Minnesota Timberwolves,0021900225,2019-11-23,MIN vs. PHX,L,240,38,...,48,57,26,2,10,14,23,98,-2,1
468,22019,1610612742,DAL,Dallas Mavericks,0021900235,2019-11-24,DAL @ HOU,None,120,29,...,18,28,16,6,1,8,14,78,18,0
469,22019,1610612745,HOU,Houston Rockets,0021900235,2019-11-24,HOU vs. DAL,None,120,21,...,17,23,13,4,0,8,12,60,-18,0

In [17]:
total_logs['pk'] = total_logs['GAME_ID']+total_logs['TEAM_ABBREVIATION']

In [18]:
total_logs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5390 entries, 0 to 469
Data columns (total 30 columns):
SEASON_ID            5390 non-null object
TEAM_ID              5390 non-null int64
TEAM_ABBREVIATION    5390 non-null object
TEAM_NAME            5390 non-null object
GAME_ID              5390 non-null object
GAME_DATE            5390 non-null object
MATCHUP              5390 non-null object
WL                   5388 non-null object
MIN                  5390 non-null int64
FGM                  5390 non-null int64
FGA                  5390 non-null int64
FG_PCT               5390 non-null float64
FG3M                 5390 non-null int64
FG3A                 5390 non-null int64
FG3_PCT              5390 non-null float64
FTM                  5390 non-null int64
FTA                  5390 non-null int64
FT_PCT               5390 non-null float64
OREB                 5390 non-null int64
DREB                 5390 non-null int64
REB                  5390 non-null int64
AST                  5390 non-null int64
STL                  5390 non-null int64
BLK                  5390 non-null int64
TOV                  5390 non-null int64
PF                   5390 non-null int64
PTS                  5390 non-null int64
PLUS_MINUS           5390 non-null int64
VIDEO_AVAILABLE      5390 non-null int64
pk                   5390 non-null object
dtypes: float64(3), int64(19), object(8)
memory usage: 1.3+ MB

In [19]:
nba_db.table_fromDf(total_logs,'game_logs', 'pk')

CREATE TABLE IF NOT EXISTS game_logs (SEASON_ID VARCHAR (250), TEAM_ID INT (64), TEAM_ABBREVIATION VARCHAR (250), TEAM_NAME VARCHAR (250), GAME_ID VARCHAR (250), GAME_DATE VARCHAR (250), MATCHUP VARCHAR (250), WL VARCHAR (250), MIN INT (64), FGM INT (64), FGA INT (64), FG_PCT FLOAT, FG3M INT (64), FG3A INT (64), FG3_PCT FLOAT, FTM INT (64), FTA INT (64), FT_PCT FLOAT, OREB INT (64), DREB INT (64), REB INT (64), AST INT (64), STL INT (64), BLK INT (64), TOV INT (64), PF INT (64), PTS INT (64), PLUS_MINUS INT (64), VIDEO_AVAILABLE INT (64), pk VARCHAR (250), PRIMARY KEY (pk));
Creating a new table
OK

In [ ]:
nba_db.insert_fromDf_iteration(total_logs, 'game_logs')

In [21]:
select_statement = """SELECT GAME_ID, GAME_DATE FROM nba.game_logs WHERE DATE_FORMAT(GAME_DATE, '%Y-%m-%d') < DATE_FORMAT('2018-01-01', '%Y-%m-%d');"""
cursor.execute(select_statement)
game_ids = cursor.fetchall()

In [25]:

game_ids = set(game_ids)
# game_ids_df = pd.DataFrame(game_ids)

In [28]:
print(game_ids)

{('0021700432', '2017-12-16'), ('0021700158', '2017-11-07'), ('0021700480', '2017-12-23'), ('0021700307', '2017-11-29'), ('0021700164', '2017-11-09'), ('0021700034', '2017-10-21'), ('0021700092', '2017-10-30'), ('0021700421', '2017-12-15'), ('0021700414', '2017-12-14'), ('0021700542', '2017-12-31'), ('0021700071', '2017-10-27'), ('0021700156', '2017-11-07'), ('0021700369', '2017-12-08'), ('0021700040', '2017-10-22'), ('0021700053', '2017-10-24'), ('0021700412', '2017-12-13'), ('0021700002', '2017-10-17'), ('0021700296', '2017-11-27'), ('0021700013', '2017-10-18'), ('0021700446', '2017-12-18'), ('0021700514', '2017-12-27'), ('0021700062', '2017-10-25'), ('0021700479', '2017-12-22'), ('0021700093', '2017-10-30'), ('0021700528', '2017-12-29'), ('0021700195', '2017-11-13'), ('0021700415', '2017-12-14'), ('0021700168', '2017-11-09'), ('0021700426', '2017-12-15'), ('0021700433', '2017-12-16'), ('0021700255', '2017-11-22'), ('0021700481', '2017-12-23'), ('0021700043', '2017-10-23'), ('0021700030', '2017-10-21'), ('0021700338', '2017-12-03'), ('0021700378', '2017-12-09'), ('0021700435', '2017-12-16'), ('0021700460', '2017-12-20'), ('0021700151', '2017-11-07'), ('0021700440', '2017-12-17'), ('0021700449', '2017-12-18'), ('0021700186', '2017-11-11'), ('0021700526', '2017-12-29'), ('0021700204', '2017-11-15'), ('0021700416', '2017-12-14'), ('0021700540', '2017-12-31'), ('0021700361', '2017-12-06'), ('0021700443', '2017-12-18'), ('0021700064', '2017-10-25'), ('0021700012', '2017-10-18'), ('0021700321', '2017-12-01'), ('0021700478', '2017-12-22'), ('0021700189', '2017-11-12'), ('0021700331', '2017-12-02'), ('0021700312', '2017-11-29'), ('0021700170', '2017-11-10'), ('0021700279', '2017-11-25'), ('0021700327', '2017-12-02'), ('0021700332', '2017-12-02'), ('0021700447', '2017-12-18'), ('0021700508', '2017-12-27'), ('0021700525', '2017-12-29'), ('0021700150', '2017-11-07'), ('0021700083', '2017-10-28'), ('0021700538', '2017-12-31'), ('0021700090', '2017-10-29'), ('0021700216', '2017-11-16'), ('0021700484', '2017-12-23'), ('0021700395', '2017-12-11'), ('0021700159', '2017-11-08'), ('0021700373', '2017-12-08'), ('0021700493', '2017-12-25'), ('0021700128', '2017-11-03'), ('0021700482', '2017-12-23'), ('0021700371', '2017-12-08'), ('0021700357', '2017-12-06'), ('0021700231', '2017-11-18'), ('0021700392', '2017-12-11'), ('0021700454', '2017-12-20'), ('0021700183', '2017-11-11'), ('0021700472', '2017-12-22'), ('0021700139', '2017-11-05'), ('0021700201', '2017-11-14'), ('0021700437', '2017-12-17'), ('0021700372', '2017-12-08'), ('0021700264', '2017-11-22'), ('0021700302', '2017-11-28'), ('0021700297', '2017-11-27'), ('0021700448', '2017-12-18'), ('0021700223', '2017-11-17'), ('0021700122', '2017-11-03'), ('0021700377', '2017-12-09'), ('0021700095', '2017-10-30'), ('0021700130', '2017-11-03'), ('0021700337', '2017-12-03'), ('0021700506', '2017-12-27'), ('0021700275', '2017-11-24'), ('0021700157', '2017-11-07'), ('0021700067', '2017-10-26'), ('0021700190', '2017-11-12'), ('0021700311', '2017-11-29'), ('0021700453', '2017-12-19'), ('0021700238', '2017-11-19'), ('0021700273', '2017-11-24'), ('0021700147', '2017-11-06'), ('0021700124', '2017-11-03'), ('0021700217', '2017-11-17'), ('0021700430', '2017-12-16'), ('0021700409', '2017-12-13'), ('0021700502', '2017-12-26'), ('0021700137', '2017-11-05'), ('0021700236', '2017-11-19'), ('0021700047', '2017-10-23'), ('0021700492', '2017-12-23'), ('0021700127', '2017-11-03'), ('0021700046', '2017-10-23'), ('0021700003', '2017-10-18'), ('0021700534', '2017-12-30'), ('0021700487', '2017-12-23'), ('0021700294', '2017-11-27'), ('0021700335', '2017-12-03'), ('0021700394', '2017-12-11'), ('0021700291', '2017-11-27'), ('0021700344', '2017-12-04'), ('0021700324', '2017-12-01'), ('0021700252', '2017-11-21'), ('0021700282', '2017-11-25'), ('0021700076', '2017-10-27'), ('0021700309', '2017-11-29'), ('0021700314', '2017-11-30'), ('0021700322', '2017-12-01'), ('0021700197', '2017-11-13'), ('0021700489', '2017-12-23'), ('0021700288', '2017-11-26'), ('0021700173', '2017-11-10'), ('0021700027', '2017-10-21'), ('0021700442', '2017-12-18'), ('0021700182', '2017-11-11'), ('0021700351', '2017-12-05'), ('0021700469', '2017-12-21'), ('0021700520', '2017-12-28'), ('0021700401', '2017-12-12'), ('0021700348', '2017-12-04'), ('0021700192', '2017-11-13'), ('0021700115', '2017-11-01'), ('0021700438', '2017-12-17'), ('0021700287', '2017-11-26'), ('0021700463', '2017-12-20'), ('0021700400', '2017-12-12'), ('0021700427', '2017-12-15'), ('0021700233', '2017-11-18'), ('0021700458', '2017-12-20'), ('0021700035', '2017-10-21'), ('0021700196', '2017-11-13'), ('0021700488', '2017-12-23'), ('0021700152', '2017-11-07'), ('0021700306', '2017-11-29'), ('0021700104', '2017-10-31'), ('0021700305', '2017-11-29'), ('0021700281', '2017-11-25'), ('0021700073', '2017-10-27'), ('0021700211', '2017-11-15'), ('0021700008', '2017-10-18'), ('0021700465', '2017-12-20'), ('0021700319', '2017-12-01'), ('0021700428', '2017-12-15'), ('0021700536', '2017-12-30'), ('0021700194', '2017-11-13'), ('0021700180', '2017-11-11'), ('0021700055', '2017-10-25'), ('0021700316', '2017-11-30'), ('0021700490', '2017-12-23'), ('0021700140', '2017-11-05'), ('0021700268', '2017-11-24'), ('0021700215', '2017-11-16'), ('0021700237', '2017-11-19'), ('0021700529', '2017-12-29'), ('0021700207', '2017-11-15'), ('0021700385', '2017-12-10'), ('0021700245', '2017-11-20'), ('0021700404', '2017-12-13'), ('0021700175', '2017-11-10'), ('0021700050', '2017-10-24'), ('0021700075', '2017-10-27'), ('0021700429', '2017-12-16'), ('0021700056', '2017-10-25'), ('0021700518', '2017-12-28'), ('0021700358', '2017-12-06'), ('0021700091', '2017-10-29'), ('0021700391', '2017-12-11'), ('0021700505', '2017-12-26'), ('0021700222', '2017-11-17'), ('0021700388', '2017-12-10'), ('0021700032', '2017-10-21'), ('0021700177', '2017-11-11'), ('0021700397', '2017-12-12'), ('0021700116', '2017-11-01'), ('0021700118', '2017-11-02'), ('0021700241', '2017-11-20'), ('0021700417', '2017-12-14'), ('0021700025', '2017-10-20'), ('0021700169', '2017-11-10'), ('0021700242', '2017-11-20'), ('0021700308', '2017-11-29'), ('0021700510', '2017-12-27'), ('0021700286', '2017-11-25'), ('0021700149', '2017-11-07'), ('0021700060', '2017-10-25'), ('0021700501', '2017-12-26'), ('0021700125', '2017-11-03'), ('0021700038', '2017-10-22'), ('0021700022', '2017-10-20'), ('0021700507', '2017-12-27'), ('0021700103', '2017-10-31'), ('0021700129', '2017-11-03'), ('0021700235', '2017-11-19'), ('0021700251', '2017-11-20'), ('0021700326', '2017-12-02'), ('0021700370', '2017-12-08'), ('0021700500', '2017-12-26'), ('0021700402', '2017-12-12'), ('0021700017', '2017-10-20'), ('0021700114', '2017-11-01'), ('0021700457', '2017-12-20'), ('0021700153', '2017-11-07'), ('0021700037', '2017-10-21'), ('0021700413', '2017-12-14'), ('0021700485', '2017-12-23'), ('0021700256', '2017-11-22'), ('0021700410', '2017-12-13'), ('0021700074', '2017-10-27'), ('0021700352', '2017-12-05'), ('0021700224', '2017-11-17'), ('0021700010', '2017-10-18'), ('0021700208', '2017-11-15'), ('0021700210', '2017-11-15'), ('0021700051', '2017-10-24'), ('0021700262', '2017-11-22'), ('0021700318', '2017-12-01'), ('0021700096', '2017-10-30'), ('0021700310', '2017-11-29'), ('0021700135', '2017-11-04'), ('0021700274', '2017-11-24'), ('0021700353', '2017-12-06'), ('0021700141', '2017-11-05'), ('0021700203', '2017-11-14'), ('0021700081', '2017-10-28'), ('0021700276', '2017-11-24'), ('0021700085', '2017-10-29'), ('0021700089', '2017-10-29'), ('0021700420', '2017-12-15'), ('0021700049', '2017-10-24'), ('0021700178', '2017-11-11'), ('0021700533', '2017-12-30'), ('0021700343', '2017-12-04'), ('0021700219', '2017-11-17'), ('0021700052', '2017-10-24'), ('0021700498', '2017-12-26'), ('0021700101', '2017-10-31'), ('0021700393', '2017-12-11'), ('0021700134', '2017-11-04'), ('0021700184', '2017-11-11'), ('0021700304', '2017-11-29'), ('0021700330', '2017-12-02'), ('0021700406', '2017-12-13'), ('0021700345', '2017-12-04'), ('0021700200', '2017-11-13'), ('0021700225', '2017-11-17'), ('0021700313', '2017-11-30'), ('0021700234', '2017-11-18'), ('0021700431', '2017-12-16'), ('0021700289', '2017-11-26'), ('0021700411', '2017-12-13'), ('0021700544', '2017-12-31'), ('0021700016', '2017-10-19'), ('0021700258', '2017-11-22'), ('0021700295', '2017-11-27'), ('0021700084', '2017-10-28'), ('0021700171', '2017-11-10'), ('0021700045', '2017-10-23'), ('0021700283', '2017-11-25'), ('0021700018', '2017-10-20'), ('0021700419', '2017-12-15'), ('0021700100', '2017-10-30'), ('0021700206', '2017-11-15'), ('0021700005', '2017-10-18'), ('0021700340', '2017-12-04'), ('0021700247', '2017-11-20'), ('0021700136', '2017-11-05'), ('0021700527', '2017-12-29'), ('0021700102', '2017-10-31'), ('0021700407', '2017-12-13'), ('0021700383', '2017-12-09'), ('0021700253', '2017-11-22'), ('0021700232', '2017-11-18'), ('0021700054', '2017-10-24'), ('0021700459', '2017-12-20'), ('0021700277', '2017-11-25'), ('0021700298', '2017-11-28'), ('0021700063', '2017-10-25'), ('0021700364', '2017-12-07'), ('0021700061', '2017-10-25'), ('0021700285', '2017-11-25'), ('0021700165', '2017-11-09'), ('0021700271', '2017-11-24'), ('0021700029', '2017-10-21'), ('0021700403', '2017-12-12'), ('0021700290', '2017-11-27'), ('0021700301', '2017-11-28'), ('0021700160', '2017-11-08'), ('0021700218', '2017-11-17'), ('0021700094', '2017-10-30'), ('0021700119', '2017-11-03'), ('0021700009', '2017-10-18'), ('0021700499', '2017-12-26'), ('0021700167', '2017-11-09'), ('0021700537', '2017-12-31'), ('0021700452', '2017-12-19'), ('0021700367', '2017-12-08'), ('0021700006', '2017-10-18'), ('0021700214', '2017-11-15'), ('0021700336', '2017-12-03'), ('0021700441', '2017-12-18'), ('0021700515', '2017-12-27'), ('0021700408', '2017-12-13'), ('0021700512', '2017-12-27'), ('0021700504', '2017-12-26'), ('0021700226', '2017-11-17'), ('0021700154', '2017-11-07'), ('0021700111', '2017-11-01'), ('0021700278', '2017-11-25'), ('0021700039', '2017-10-22'), ('0021700144', '2017-11-05'), ('0021700036', '2017-10-21'), ('0021700424', '2017-12-15'), ('0021700058', '2017-10-25'), ('0021700387', '2017-12-10'), ('0021700068', '2017-10-26'), ('0021700496', '2017-12-25'), ('0021700272', '2017-11-24'), ('0021700117', '2017-11-02'), ('0021700161', '2017-11-08'), ('0021700066', '2017-10-26'), ('0021700229', '2017-11-18'), ('0021700503', '2017-12-26'), ('0021700398', '2017-12-12'), ('0021700148', '2017-11-06'), ('0021700471', '2017-12-22'), ('0021700517', '2017-12-28'), ('0021700347', '2017-12-04'), ('0021700015', '2017-10-19'), ('0021700078', '2017-10-28'), ('0021700113', '2017-11-01'), ('0021700205', '2017-11-15'), ('0021700390', '2017-12-10'), ('0021700375', '2017-12-09'), ('0021700065', '2017-10-26'), ('0021700366', '2017-12-07'), ('0021700389', '2017-12-10'), ('0021700356', '2017-12-06'), ('0021700339', '2017-12-04'), ('0021700355', '2017-12-06'), ('0021700511', '2017-12-27'), ('0021700107', '2017-11-01'), ('0021700451', '2017-12-19'), ('0021700163', '2017-11-08'), ('0021700439', '2017-12-17'), ('0021700260', '2017-11-22'), ('0021700097', '2017-10-30'), ('0021700228', '2017-11-18'), ('0021700325', '2017-12-01'), ('0021700495', '2017-12-25'), ('0021700341', '2017-12-04'), ('0021700475', '2017-12-22'), ('0021700468', '2017-12-21'), ('0021700191', '2017-11-12'), ('0021700199', '2017-11-13'), ('0021700320', '2017-12-01'), ('0021700342', '2017-12-04'), ('0021700021', '2017-10-20'), ('0021700269', '2017-11-24'), ('0021700166', '2017-11-09'), ('0021700516', '2017-12-28'), ('0021700011', '2017-10-18'), ('0021700024', '2017-10-20'), ('0021700524', '2017-12-29'), ('0021700106', '2017-11-01'), ('0021700541', '2017-12-31'), ('0021700086', '2017-10-29'), ('0021700381', '2017-12-09'), ('0021700293', '2017-11-27'), ('0021700070', '2017-10-27'), ('0021700105', '2017-11-01'), ('0021700220', '2017-11-17'), ('0021700362', '2017-12-06'), ('0021700014', '2017-10-19'), ('0021700143', '2017-11-05'), ('0021700230', '2017-11-18'), ('0021700532', '2017-12-30'), ('0021700026', '2017-10-20'), ('0021700088', '2017-10-29'), ('0021700048', '2017-10-23'), ('0021700267', '2017-11-24'), ('0021700486', '2017-12-23'), ('0021700227', '2017-11-17'), ('0021700284', '2017-11-25'), ('0021700187', '2017-11-11'), ('0021700473', '2017-12-22'), ('0021700087', '2017-10-29'), ('0021700249', '2017-11-20'), ('0021700266', '2017-11-22'), ('0021700303', '2017-11-29'), ('0021700080', '2017-10-28'), ('0021700422', '2017-12-15'), ('0021700368', '2017-12-08'), ('0021700360', '2017-12-06'), ('0021700323', '2017-12-01'), ('0021700155', '2017-11-07'), ('0021700001', '2017-10-17'), ('0021700243', '2017-11-20'), ('0021700133', '2017-11-04'), ('0021700121', '2017-11-03'), ('0021700434', '2017-12-16'), ('0021700521', '2017-12-29'), ('0021700109', '2017-11-01'), ('0021700386', '2017-12-10'), ('0021700263', '2017-11-22'), ('0021700020', '2017-10-20'), ('0021700126', '2017-11-03'), ('0021700132', '2017-11-04'), ('0021700418', '2017-12-15'), ('0021700042', '2017-10-23'), ('0021700123', '2017-11-03'), ('0021700265', '2017-11-22'), ('0021700112', '2017-11-01'), ('0021700349', '2017-12-04'), ('0021700031', '2017-10-21'), ('0021700108', '2017-11-01'), ('0021700246', '2017-11-20'), ('0021700041', '2017-10-23'), ('0021700513', '2017-12-27'), ('0021700146', '2017-11-06'), ('0021700145', '2017-11-05'), ('0021700174', '2017-11-10'), ('0021700359', '2017-12-06'), ('0021700376', '2017-12-09'), ('0021700007', '2017-10-18'), ('0021700445', '2017-12-18'), ('0021700131', '2017-11-04'), ('0021700461', '2017-12-20'), ('0021700396', '2017-12-11'), ('0021700444', '2017-12-18'), ('0021700028', '2017-10-21'), ('0021700240', '2017-11-19'), ('0021700248', '2017-11-20'), ('0021700543', '2017-12-31'), ('0021700023', '2017-10-20'), ('0021700179', '2017-11-11'), ('0021700483', '2017-12-23'), ('0021700259', '2017-11-22'), ('0021700261', '2017-11-22'), ('0021700497', '2017-12-25'), ('0021700477', '2017-12-22'), ('0021700244', '2017-11-20'), ('0021700202', '2017-11-14'), ('0021700456', '2017-12-20'), ('0021700033', '2017-10-21'), ('0021700423', '2017-12-15'), ('0021700072', '2017-10-27'), ('0021700212', '2017-11-15'), ('0021700522', '2017-12-29'), ('0021700082', '2017-10-28'), ('0021700257', '2017-11-22'), ('0021700491', '2017-12-23'), ('0021700209', '2017-11-15'), ('0021700382', '2017-12-09'), ('0021700317', '2017-11-30'), ('0021700057', '2017-10-25'), ('0021700476', '2017-12-22'), ('0021700519', '2017-12-28'), ('0021700280', '2017-11-25'), ('0021700462', '2017-12-20'), ('0021700455', '2017-12-20'), ('0021700270', '2017-11-24'), ('0021700363', '2017-12-07'), ('0021700213', '2017-11-15'), ('0021700346', '2017-12-04'), ('0021700098', '2017-10-30'), ('0021700138', '2017-11-05'), ('0021700110', '2017-11-01'), ('0021700019', '2017-10-20'), ('0021700079', '2017-10-28'), ('0021700329', '2017-12-02'), ('0021700162', '2017-11-08'), ('0021700365', '2017-12-07'), ('0021700466', '2017-12-21'), ('0021700044', '2017-10-23'), ('0021700193', '2017-11-13'), ('0021700300', '2017-11-28'), ('0021700474', '2017-12-22'), ('0021700379', '2017-12-09'), ('0021700399', '2017-12-12'), ('0021700004', '2017-10-18'), ('0021700405', '2017-12-13'), ('0021700425', '2017-12-15'), ('0021700384', '2017-12-09'), ('0021700250', '2017-11-20'), ('0021700221', '2017-11-17'), ('0021700354', '2017-12-06'), ('0021700099', '2017-10-30'), ('0021700142', '2017-11-05'), ('0021700380', '2017-12-09'), ('0021700172', '2017-11-10'), ('0021700292', '2017-11-27'), ('0021700315', '2017-11-30'), ('0021700531', '2017-12-30'), ('0021700523', '2017-12-29'), ('0021700464', '2017-12-20'), ('0021700198', '2017-11-13'), ('0021700254', '2017-11-22'), ('0021700059', '2017-10-25'), ('0021700299', '2017-11-28'), ('0021700188', '2017-11-12'), ('0021700494', '2017-12-25'), ('0021700334', '2017-12-03'), ('0021700333', '2017-12-02'), ('0021700181', '2017-11-11'), ('0021700328', '2017-12-02'), ('0021700530', '2017-12-30'), ('0021700539', '2017-12-31'), ('0021700077', '2017-10-28'), ('0021700509', '2017-12-27'), ('0021700069', '2017-10-26'), ('0021700120', '2017-11-03'), ('0021700470', '2017-12-21'), ('0021700436', '2017-12-16'), ('0021700535', '2017-12-30'), ('0021700185', '2017-11-11'), ('0021700374', '2017-12-08'), ('0021700450', '2017-12-18'), ('0021700239', '2017-11-19'), ('0021700176', '2017-11-10'), ('0021700350', '2017-12-05'), ('0021700467', '2017-12-21')}

In [32]:
pd.DataFrame(game_ids)

ValueError: DataFrame constructor not properly called!

In [35]:
box_score = nba.BoxScoreTraditionalV2(game_id='0021900002').get_data_frames()[0]

In [37]:
box_score['pk'] = str(box_score['PLAYER_ID']) + box_score['GAME_ID']

In [43]:
box_score['TOS'] = box_score['TO']

In [47]:
box_score.drop('TO', axis=1, inplace=True)

In [49]:
box_score.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'PLAYER_ID',
       'PLAYER_NAME', 'START_POSITION', 'COMMENT', 'MIN', 'FGM', 'FGA',
       'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB',
       'DREB', 'REB', 'AST', 'STL', 'BLK', 'PF', 'PTS', 'PLUS_MINUS', 'pk',
       'TOS'],
      dtype='object')

In [50]:
nba_db.table_fromDf(box_score,'box_score', 'pk')

CREATE TABLE IF NOT EXISTS box_score (GAME_ID VARCHAR (250), TEAM_ID INT (64), TEAM_ABBREVIATION VARCHAR (250), TEAM_CITY VARCHAR (250), PLAYER_ID INT (64), PLAYER_NAME VARCHAR (250), START_POSITION VARCHAR (250), COMMENT VARCHAR (250), MIN VARCHAR (250), FGM FLOAT, FGA FLOAT, FG_PCT FLOAT, FG3M FLOAT, FG3A FLOAT, FG3_PCT FLOAT, FTM FLOAT, FTA FLOAT, FT_PCT FLOAT, OREB FLOAT, DREB FLOAT, REB FLOAT, AST FLOAT, STL FLOAT, BLK FLOAT, PF FLOAT, PTS FLOAT, PLUS_MINUS FLOAT, pk VARCHAR (250), TOS FLOAT, PRIMARY KEY (pk));
Creating a new table
OK

In [22]:
box_score.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'PLAYER_ID',
       'PLAYER_NAME', 'START_POSITION', 'COMMENT', 'MIN', 'FGM', 'FGA',
       'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB',
       'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS', 'PLUS_MINUS'],
      dtype='object')

In [7]:
def get_box_score(id):
    box_score = nba.BoxScoreTraditionalV2(game_id=id).get_data_frames()[0]
    box_score['pk'] = str(box_score['PLAYER_ID']) + box_score['GAME_ID']

In [ ]:
dfs = []
for game in game_ids:
    dfs.append(get_box_score(game))
frame = pd.concat(dfs)

In [23]:
## Use scoreboard to get game ids for each game for past 3 years and each sequential day,
## Then use game id to feed into gamelog to get team box scores for each day
## Feed game ids into boxscore traditional to get subsequent box scores for each player